[submodule "pyrockstats"]
	path = pyrockstats
	url = https://github.com/IDGRockFragmentationAnaliz/pyrockstats.git
[submodule "pyrocksegmentation"]
	path = pyrocksegmentation
	url = https://github.com/IDGRockFragmentationAnaliz/pyrocksegmentation.git
